<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>
<div class="container my-3">
    <div class="card p-3">
        <div class="card-title mb-1" th:text="${board.boardTitle}"></div>
        <div class="row">
            <div class="col-6">
                <div class="card-subtitle mb-1 text-body-secondary" th:text="|작성자: ${board.boardWriter}|"></div>
            </div>
            <div class="col-6 text-end" th:if="${board.updatedAt == null}">
                <div class="card-subtitle mb-1 text-body-secondary"
                     th:text="|조회수: ${board.boardHits} 작성시간: ${board.createdAt}|"></div>
            </div>
            <div class="col-6 text-end" th:unless="${board.updatedAt == null}">
                <div class="card-subtitle mb-1 text-body-secondary"
                     th:text="|조회수: ${board.boardHits} 수정시간: ${board.updatedAt}|"></div>
            </div>
        </div>
        <hr>
        <div class="card-text" th:text="${board.boardContents}"></div>
        <div class="row" th:if="${board.fileAttached == 1}">
            <div class="col-3" th:each="boardFile: ${board.boardFileDTOList}">
                <img th:src="@{|/upload/board/${boardFile.storedFileName}|}" width="90%">
            </div>
        </div>
        <div class="text-end" th:if="${session.loginEmail == board.boardWriter}">
            <button class="btn btn-warning btn-sm" th:onclick="update_fn([[${board.id}]])">수정</button>
            <button class="btn btn-danger btn-sm" th:onclick="delete_fn([[${board.id}]])">삭제</button>
        </div>
        <div class="text-end" th:if="${session.loginEmail == 'admin'}">
            <button class="btn btn-danger btn-sm" th:onclick="delete_fn([[${board.id}]])">삭제</button>
        </div>
        <div class="text-center">
            <button class="btn btn-secondary" onclick="toList()">목록으로</button>
        </div>
        <hr>
        <div id="comment-area">
            <div th:each="comment: ${board.commentDTOList}">
                <div class="mb-1" th:text="|작성자: ${comment.commentWriter}|"></div>
                <div class="mb-1" th:text="${comment.commentContents}"></div>
                <div class="mb-1" style="font-size: 10px; color: gray" th:if="${comment.updatedAt == null}" th:text="|작성시간: ${comment.createdAt}|"></div>
                <div class="mb-1" style="font-size: 10px; color: gray" th:unless="${comment.updatedAt == null}" th:text="|수정시간: ${comment.updatedAt}|"></div>
                <div class="text-end" th:if="${comment.commentWriter == session.loginEmail}">
                    <button class="btn btn-secondary btn-sm">수정</button>
                    <button class="btn btn-danger btn-sm">삭제</button>
                </div>
                <div class="text-end" th:if="${session.loginEmail == 'admin'}">
                    <button class="btn btn-danger btn-sm">삭제</button>
                </div>
                <hr>
            </div>
        </div>
        <div id="comment-save" th:if="${session.loginEmail != null}">
            <div class="input-group mb-2">
                <span class="input-group-text">작성자</span>
                <input name="commentWriter" id="commentWriter" class="form-control" th:value="${session.loginEmail}" readonly>
            </div>
            <div class="input-group mb-2">
                <textarea class="form-control" id="commentContents" name="commentContents" rows="2"></textarea>
            </div>
            <div class="text-end">
                <button class="btn btn-secondary" onclick="comment_save()">댓글등록</button>
            </div>
        </div>
        <div id="comment-save-not-login" th:unless="${session.loginEmail != null}">
            <div class="text-end">
                <button class="btn btn-secondary" onclick="toLogin()">댓글작성</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">

    const memberId = [[${session.loginId}]];
    const boardId = [[${board.id}]];
    const commentWriter = [[${session.loginEmail}]];
    const print_comment = (commentList) => {
        const commentArea = document.querySelector("#comment-area");
        let result = "";
        for(let i in commentList){
            result += "<div class=\"mb-1\">작성자: " + commentList[i].commentWriter + "</div>";
            result += "<div class=\"mb-1\">"+ commentList[i].commentContents + "</div>";
            if(commentList[i].updatedAt == null) {
                result += "<div class=\"mb-1\" style=\"font-size: 10px; color: gray\">작성시간: "+ commentList[i].createdAt +"</div>";
            } else {
                result += "<div class=\"mb-1\" style=\"font-size: 10px; color: gray\">수정시간: "+ commentList[i].updatedAt +"</div>";
            }
            if(commentList[i].commentWriter == commentWriter) {
                result += "<div class=\"text-end\">";
                result += "<button class=\"btn btn-secondary btn-sm\">수정</button>\n";
                result += "<button class=\"btn btn-danger btn-sm\">삭제</button>";
                result += "</div>";
            }
            if(commentWriter == 'admin') {
                result += "<div class=\"text-end\">";
                result += "<button class=\"btn btn-danger btn-sm\">삭제</button>";
                result += "</div>";
            }
            result += "<hr>";
        }
        commentArea.innerHTML = result;
    }

    const update_fn = (id) => {
        location.href = `/board/update/${id}`;
    };

    const delete_fn = (id) => {
        if (confirm("해당 게시글을 삭제하시겠습니까? ")) {
            axios({
                method: "delete",
                url: `/board/${id}`
            }).then(res => {
                alert("삭제성공");
                location.href = "/board";
            }).catch(err => {
                alert("삭제실패");
            });
        } else {
            alert("취소");
        }
    }

    const toList = () => {
        const page = [[${page}]];
        const type = [[${type}]];
        const q = [[${q}]];
        location.href = `/board?page=${page}&type=${type}&q=${q}`;
    }

    const toLogin = () => {
        const uri = location.href;
        location.href = `/member/login?redirectURI=${uri}`;
    }

    const comment_save = () => {
        const commentContents = document.querySelector("#commentContents").value;
        console.log(`memberId:${memberId}, boardId:${boardId}, writer:${commentWriter}, contents:${commentContents}`);
        axios({
            method:"post",
            url:"/comment/save",
            data:{
                memberId:memberId,
                boardId:boardId,
                commentWriter:commentWriter,
                commentContents:commentContents
            }
        }).then(res => {
            console.log(res);
            print_comment(res.data);
        }).catch(err => {
            console.log(err);
            location.reload();
        })
    }
</script>
</html>