<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>
<div class="container justify-content-center">
    <h2 class="text-center">요청하신 게시글을 찾을 수 없습니다!!</h2>
    <div class="text-center">
        <a href="/board" class="btn btn-secondary">게시판으로 이동</a>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>